.compatibility-table table,
.compatibility-table th,
.compatibility-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.compatibility-table {
  width: 90%;
  table-layout: fixed;
}

.compatibility-table tr {
  width: 100%;
}
.compatibility-table th:first-child,
.compatibility-table td:first-child {
  text-align: left;
  width: 100%;
}

.compatibility-table th {
  writing-mode: sideways-lr;
  text-align: left;
}

.compatibility-table td {
  text-align: center;
  font-weight: bold;
}

.compatibility-table .supported {
  color: #107714; /* Light green */
}

.compatibility-table .unsupported {
  color: #de1126; /* Light red */
}
