{
  "openapi": "3.0.0",
  "info": {
    "title": "Pipecat Cloud - Organization Properties",
    "version": "1.0.0",
    "description": "Manage organization properties via Pipecat Cloud Private API"
  },
  "servers": [
    {
      "url": "https://api.pipecat.daily.co/v1",
      "description": "API server"
    }
  ],
  "paths": {
    "/properties": {
      "patch": {
        "summary": "Update organization properties",
        "description": "Update one or more configurable properties for your organization. Only public (user-configurable) properties can be modified via this endpoint. Properties are validated against their schema and constraints before being applied.",
        "operationId": "updateProperties",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "defaultRegion": {
                    "type": "string",
                    "description": "Default region for new service deployments. Must be one of the [available regions](/deployment/pipecat-cloud/rest-reference/endpoint/regions-list) for your organization.",
                    "example": "us-west"
                  }
                },
                "additionalProperties": false
              },
              "examples": {
                "updateDefaultRegion": {
                  "summary": "Update default region",
                  "value": {
                    "defaultRegion": "eu-central"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Properties successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "properties": {
                      "$ref": "#/components/schemas/OrganizationProperties"
                    }
                  }
                },
                "example": {
                  "properties": {
                    "defaultRegion": "eu-central"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid property name, value, or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidProperty": {
                    "summary": "Invalid property name",
                    "value": {
                      "error": "Property 'invalidProp' is not a valid property",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "invalidRegion": {
                    "summary": "Invalid region value",
                    "value": {
                      "error": "Region 'invalid-region' is not available. Available regions: us-west, us-east, eu-central",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "emptyUpdate": {
                    "summary": "No properties provided",
                    "value": {
                      "error": "No properties provided",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Unauthorized",
                  "code": "UNAUTHORIZED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error",
                  "code": "INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/properties/schema": {
      "get": {
        "summary": "Get organization properties schema",
        "description": "Retrieve metadata about all configurable properties for your organization, including type information, constraints, current values, default values, and dynamically available values (e.g., available regions).",
        "operationId": "getPropertiesSchema",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Properties schema retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "properties": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/PropertySchema"
                      }
                    }
                  }
                },
                "example": {
                  "properties": {
                    "defaultRegion": {
                      "type": "string",
                      "description": "Default region for new service deployments",
                      "default": "us-west",
                      "currentValue": "us-west",
                      "availableValues": [
                        "us-west",
                        "us-east",
                        "eu-central",
                        "ap-south"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Unauthorized",
                  "code": "UNAUTHORIZED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error",
                  "code": "INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "PrivateKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication requires a Pipecat Cloud Private API token.\n\nGenerate a Private API key from your Dashboard (Settings > API Keys > Private > Create key) and include it as a Bearer token in the Authorization header."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      },
      "OrganizationProperties": {
        "type": "object",
        "description": "Organization configuration properties",
        "properties": {
          "defaultRegion": {
            "type": "string",
            "description": "Default region for new service deployments",
            "example": "us-west"
          }
        }
      },
      "PropertySchema": {
        "type": "object",
        "description": "Schema information for a single property",
        "properties": {
          "type": {
            "type": "string",
            "description": "Property data type (string, number, boolean, array, etc.)",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the property",
            "example": "Default region for new service deployments"
          },
          "default": {
            "description": "Default value when property is not set"
          },
          "currentValue": {
            "description": "Current value of the property for this organization"
          },
          "availableValues": {
            "type": "array",
            "description": "List of valid values for this property (if applicable)",
            "items": {}
          }
        },
        "required": ["type", "description", "default", "currentValue"]
      }
    }
  },
  "security": [
    {
      "PrivateKeyAuth": []
    }
  ]
}
