{
  "openapi": "3.0.0",
  "info": {
    "title": "Pipecat Cloud",
    "version": "1.0.0",
    "description": "Private API for Pipecat Cloud agent management"
  },
  "servers": [
    {
      "url": "https://api.pipecat.daily.co/v1",
      "description": "API server"
    }
  ],
  "paths": {
    "/agents": {
      "post": {
        "summary": "Create a new agent",
        "operationId": "createService",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceRequest"
              },
              "example": {
                "serviceName": "voice-starter",
                "image": "your-dockername/voice-starter:0.1",
                "nodeType": "arm",
                "imagePullSecretSet": "dockerhub-credentials",
                "secretSet": "voice-starter-secrets",
                "autoScaling": {
                  "minAgents": 1,
                  "maxAgents": 20
                },
                "enableKrisp": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceDetailsResponse"
                },
                "example": {
                  "name": "voice-starter",
                  "ready": false,
                  "createdAt": "2025-04-19T01:20:27.564Z",
                  "updatedAt": "2025-04-19T01:20:27.572Z",
                  "activeDeploymentId": "13c0be89-5ae8-4b0b-ad22-79565e11de3b",
                  "activeDeploymentReady": false,
                  "autoScaling": {
                    "maxReplicas": 20,
                    "minReplicas": 1
                  },
                  "activeSessionCount": 0,
                  "deployment": {
                    "id": "13c0be89-5ae8-4b0b-ad22-79565e11de3b",
                    "manifest": {
                      "apiVersion": "pipecatcloud.daily.co/v1",
                      "kind": "PCService",
                      "metadata": {
                        "name": "voice-starter",
                        "namespace": "tiny-ferret-maroon-123"
                      },
                      "spec": {
                        "dailyNodeType": "arm",
                        "clusterLocal": true,
                        "image": "your-dockername/voice-starter:0.1",
                        "autoScaling": {
                          "minReplicas": 1,
                          "maxReplicas": 20
                        },
                        "envFromSecretNames": ["voice-starter-secrets"],
                        "krispModels": {
                          "enabled": false
                        }
                      }
                    },
                    "serviceId": "b59a68ee-61c8-4d99-9ceb-e99a3953bdac",
                    "createdAt": "2025-04-19T01:20:27.569Z",
                    "updatedAt": "2025-04-19T01:20:27.569Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or agent already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Service already exists",
                  "code": "GENERIC_BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Secret set or image pull secret set not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Secret set not found",
                  "code": "NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error",
                  "code": "INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "PrivateKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication requires a Pipecat Cloud Private API token. Generate a Private API key from your Dashboard (Settings > API Keys > Private > Create key) and include it as a Bearer token in the Authorization header."
      }
    },
    "schemas": {
      "CreateServiceRequest": {
        "type": "object",
        "required": ["serviceName", "image"],
        "properties": {
          "serviceName": {
            "type": "string",
            "description": "Name of the agent to create.\n\nMust start with a lowercase letter or number, can include hyphens, and must end with a lowercase letter or number. No uppercase letters or special characters allowed.",
            "example": "my-voice-agent",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])$"
          },
          "image": {
            "type": "string",
            "description": "The container image to use for the agent",
            "example": "your-username/my-agent:latest"
          },
          "nodeType": {
            "type": "string",
            "description": "The type of node to run the agent on. Only `arm` is supported at this time.",
            "default": "arm",
            "example": "arm"
          },
          "imagePullSecretSet": {
            "type": "string",
            "description": "The name of the image pull secret set to use",
            "example": "dockerhub-credentials"
          },
          "secretSet": {
            "type": "string",
            "description": "The name of the secret set to use",
            "example": "my-agent-secrets"
          },
          "autoScaling": {
            "type": "object",
            "description": "Auto-scaling configuration for the agent",
            "properties": {
              "minAgents": {
                "type": "integer",
                "description": "Minimum number of agents",
                "example": 1
              },
              "maxAgents": {
                "type": "integer",
                "description": "Maximum number of agents (Default: 50)",
                "example": 20
              }
            }
          },
          "enableKrisp": {
            "type": "boolean",
            "description": "Whether to enable Krisp noise cancellation",
            "default": false,
            "example": false
          }
        }
      },
      "ServiceDetailsResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the agent"
          },
          "ready": {
            "type": "boolean",
            "description": "Whether the agent is ready to accept sessions"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp of the agent"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "activeDeploymentId": {
            "type": "string",
            "description": "ID of the active deployment"
          },
          "activeDeploymentReady": {
            "type": "boolean",
            "description": "Whether the active deployment is ready"
          },
          "autoScaling": {
            "type": "object",
            "properties": {
              "maxReplicas": {
                "type": "integer",
                "description": "Maximum number of replicas"
              },
              "minReplicas": {
                "type": "integer",
                "description": "Minimum number of replicas"
              }
            }
          },
          "activeSessionCount": {
            "type": "integer",
            "description": "Number of active sessions"
          },
          "deployment": {
            "type": "object",
            "nullable": true,
            "description": "Details of the current deployment",
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique identifier for the deployment"
              },
              "manifest": {
                "type": "object",
                "description": "Kubernetes manifest for the deployment",
                "properties": {
                  "apiVersion": {
                    "type": "string",
                    "description": "API version of the manifest"
                  },
                  "kind": {
                    "type": "string",
                    "description": "Kind of Kubernetes resource"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Metadata for the resource",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the agent"
                      },
                      "namespace": {
                        "type": "string",
                        "description": "Kubernetes namespace"
                      }
                    }
                  },
                  "spec": {
                    "type": "object",
                    "description": "Specification for the agent deployment",
                    "properties": {
                      "dailyNodeType": {
                        "type": "string",
                        "description": "Type of node to run on"
                      },
                      "clusterLocal": {
                        "type": "boolean",
                        "description": "Whether the service is cluster-local"
                      },
                      "image": {
                        "type": "string",
                        "description": "Container image used"
                      },
                      "autoScaling": {
                        "type": "object",
                        "description": "Auto-scaling configuration",
                        "properties": {
                          "minReplicas": {
                            "type": "integer",
                            "description": "Minimum number of replicas"
                          },
                          "maxReplicas": {
                            "type": "integer",
                            "description": "Maximum number of replicas"
                          }
                        }
                      },
                      "envFromSecretNames": {
                        "type": "array",
                        "description": "Names of secrets to use as environment variables",
                        "items": {
                          "type": "string"
                        }
                      },
                      "krispModels": {
                        "type": "object",
                        "description": "Krisp noise cancellation configuration",
                        "properties": {
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether Krisp is enabled"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "serviceId": {
                "type": "string",
                "description": "ID of the service this deployment belongs to"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "description": "Creation timestamp of the deployment"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "description": "Last update timestamp of the deployment"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      }
    }
  },
  "security": [
    {
      "PrivateKeyAuth": []
    }
  ]
}
