{
  "openapi": "3.0.0",
  "info": {
    "title": "Pipecat Cloud - Get Organization Properties",
    "version": "1.0.0",
    "description": "Get current organization properties via Pipecat Cloud Private API"
  },
  "servers": [
    {
      "url": "https://api.pipecat.daily.co/v1",
      "description": "API server"
    }
  ],
  "paths": {
    "/properties": {
      "get": {
        "summary": "Get organization properties",
        "description": "Retrieve the current values of all configurable properties for your organization. Returns only public (user-configurable) properties without schema metadata. For schema information including available values and constraints, use the `/properties/schema` endpoint.",
        "operationId": "getProperties",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Properties retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "properties": {
                      "$ref": "#/components/schemas/OrganizationProperties"
                    }
                  }
                },
                "example": {
                  "properties": {
                    "defaultRegion": "us-west"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Unauthorized",
                  "code": "UNAUTHORIZED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error",
                  "code": "INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "PrivateKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication requires a Pipecat Cloud Private API token.\n\nGenerate a Private API key from your Dashboard (Settings > API Keys > Private > Create key) and include it as a Bearer token in the Authorization header."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      },
      "OrganizationProperties": {
        "type": "object",
        "description": "Organization configuration properties",
        "properties": {
          "defaultRegion": {
            "type": "string",
            "description": "Default region for new service deployments",
            "example": "us-west"
          }
        }
      }
    }
  },
  "security": [
    {
      "PrivateKeyAuth": []
    }
  ]
}
