{
  "openapi": "3.0.0",
  "info": {
    "title": "Pipecat Cloud",
    "version": "1.0.0",
    "description": "Public API for Pipecat Cloud services"
  },
  "servers": [
    {
      "url": "https://api.pipecat.daily.co/v1",
      "description": "API server"
    }
  ],
  "paths": {
    "/builds/upload-url": {
      "post": {
        "summary": "Get upload URL for build context",
        "description": "Generate a pre-signed URL for uploading your Docker build context (tar.gz archive) to Pipecat Cloud storage. The returned URL expires after 15 minutes.",
        "operationId": "getBuildUploadUrl",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload URL generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (e.g., cloud build not enabled for region)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication using a Pipecat Cloud API token."
      }
    },
    "schemas": {
      "UploadUrlRequest": {
        "type": "object",
        "required": ["contentLength", "region"],
        "properties": {
          "contentLength": {
            "type": "integer",
            "description": "Size of the tar.gz archive in bytes. Maximum 500MB.",
            "example": 10485760,
            "minimum": 1,
            "maximum": 500000000
          },
          "region": {
            "type": "string",
            "description": "Target region for the build. Must be a region where cloud builds are enabled.",
            "example": "us-west"
          }
        }
      },
      "UploadUrlResponse": {
        "type": "object",
        "properties": {
          "uploadId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this upload. Use this when creating the build.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "uploadUrl": {
            "type": "string",
            "format": "uri",
            "description": "Pre-signed URL to upload your context archive. Use HTTP POST with form-data.",
            "example": "https://daily-co-pcc-build-context.s3.amazonaws.com"
          },
          "uploadFields": {
            "type": "object",
            "description": "Form fields that must be included when uploading to the pre-signed URL.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "key": "org-123/550e8400-e29b-41d4-a716-446655440000.tar.gz",
              "Content-Type": "application/gzip",
              "policy": "eyJleHBpcmF0aW9uIjoi...",
              "x-amz-signature": "abc123..."
            }
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the upload URL expires. Upload must complete before this time.",
            "example": "2026-02-20T12:15:00.000Z"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
