{
  "openapi": "3.0.0",
  "info": {
    "title": "Pipecat Cloud",
    "version": "1.0.0",
    "description": "REST API for Pipecat Cloud. The public API (`/v1/public`, authenticated with a public API key) starts agent sessions and proxies requests to them. The private API (`/v1`, authenticated with a private API key) manages agents, secrets, builds, regions, and organization settings."
  },
  "servers": [
    {
      "url": "https://api.pipecat.daily.co/v1",
      "description": "Private API server"
    }
  ],
  "paths": {
    "/agents": {
      "post": {
        "summary": "Create a new agent",
        "operationId": "createService",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceRequest"
              },
              "example": {
                "serviceName": "voice-starter",
                "image": "your-dockername/voice-starter:0.1",
                "region": "us-west",
                "nodeType": "arm",
                "imagePullSecretSet": "dockerhub-credentials",
                "secretSet": "voice-starter-secrets",
                "autoScaling": {
                  "minAgents": 1,
                  "maxAgents": 20
                },
                "krispViva": {
                  "audioFilter": "tel"
                },
                "agentProfile": "agent-1x",
                "maxSessionDuration": 3600
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceDetailsResponse"
                },
                "example": {
                  "name": "voice-starter",
                  "region": "us-west",
                  "ready": false,
                  "available": false,
                  "createdAt": "2025-04-19T01:20:27.564Z",
                  "updatedAt": "2025-04-19T01:20:27.572Z",
                  "desiredDeploymentId": "13c0be89-5ae8-4b0b-ad22-79565e11de3b",
                  "activeDeploymentId": "13c0be89-5ae8-4b0b-ad22-79565e11de3b",
                  "reconciledDeploymentId": null,
                  "activeDeploymentReady": false,
                  "autoScaling": {
                    "maxReplicas": 20,
                    "minReplicas": 1
                  },
                  "activeSessionCount": 0,
                  "deployment": {
                    "id": "13c0be89-5ae8-4b0b-ad22-79565e11de3b",
                    "manifest": {
                      "apiVersion": "pipecatcloud.daily.co/v1",
                      "kind": "PCService",
                      "metadata": {
                        "name": "voice-starter",
                        "namespace": "tiny-ferret-maroon-123"
                      },
                      "spec": {
                        "dailyNodeType": "arm",
                        "image": "your-dockername/voice-starter:0.1",
                        "autoScaling": {
                          "minReplicas": 1,
                          "maxReplicas": 20
                        },
                        "imagePullSecretName": "dockerhub-credentials",
                        "envFromSecretNames": ["voice-starter-secrets"],
                        "resources": {
                          "cpu": "500m",
                          "memory": "1Gi"
                        },
                        "krispModels": {
                          "enabled": false
                        },
                        "krispViva": {
                          "audioFilters": true
                        },
                        "maxSessionDurationSeconds": 3600
                      }
                    },
                    "serviceId": "b59a68ee-61c8-4d99-9ceb-e99a3953bdac",
                    "createdAt": "2025-04-19T01:20:27.569Z",
                    "updatedAt": "2025-04-19T01:20:27.569Z"
                  },
                  "agentProfile": "agent-1x",
                  "krispViva": {
                    "audioFilter": "tel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or agent already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "serviceExists": {
                    "summary": "Service already exists",
                    "value": {
                      "error": "Service already exists",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "secretRegionMismatch": {
                    "summary": "Secret set region mismatch",
                    "value": {
                      "error": "Secret set 'my-secrets' is in region 'us-east' but service will be created in region 'us-west'. Secrets must be in the same region as the service.",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "imagePullSecretRegionMismatch": {
                    "summary": "Image pull secret region mismatch",
                    "value": {
                      "error": "Image pull secret set 'dockerhub-creds' is in region 'us-east' but service will be created in region 'us-west'. Image pull secrets must be in the same region as the service.",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "imageOrBuildIdRequired": {
                    "summary": "Neither image nor buildId provided",
                    "value": {
                      "error": "Either image or buildId is required for service creation",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "imageAndBuildIdConflict": {
                    "summary": "Both image and buildId provided",
                    "value": {
                      "error": "Cannot specify both image and buildId. Use one or the other.",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "buildNotFound": {
                    "summary": "Build not found",
                    "value": {
                      "error": "Build not found",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "buildRegionMismatch": {
                    "summary": "Build region mismatch",
                    "value": {
                      "error": "Build is in region 'eu-central' but service is in region 'us-west'. Builds must be in the same region as the service.",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "buildNotReady": {
                    "summary": "Build not successful",
                    "value": {
                      "error": "Build is not ready (status: building). Only successful builds can be deployed.",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Secret set or image pull secret set not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Secret set not found",
                  "code": "NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error",
                  "code": "INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List all agents",
        "operationId": "listServices",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "includeActiveDeployment",
            "in": "query",
            "required": false,
            "description": "Whether to include the active deployment details in the response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Filter agents by region. If not specified, returns agents from all regions.",
            "schema": {
              "type": "string",
              "example": "us-west"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "services": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ServiceListItem"
                      }
                    }
                  }
                },
                "example": {
                  "services": [
                    {
                      "id": "c359e1ea-64d6-4bcf-a7c6-28d3bd1c8909",
                      "name": "voice-starter",
                      "region": "us-west",
                      "desiredDeploymentId": "4cab03c7-8f53-418d-9c3c-91a1265d179e",
                      "activeDeploymentId": "4cab03c7-8f53-418d-9c3c-91a1265d179e",
                      "reconciledDeploymentId": "4cab03c7-8f53-418d-9c3c-91a1265d179e",
                      "organizationId": "7c489df3-7d1d-482f-b1ed-51300f630645",
                      "createdAt": "2025-04-09T15:01:17.414Z",
                      "updatedAt": "2025-04-18T20:29:19.181Z",
                      "deletedAt": null
                    },
                    {
                      "id": "4e0d1f30-77a8-4283-a054-14a63b06720f",
                      "name": "voice-starter-krisp",
                      "region": "us-west",
                      "desiredDeploymentId": "62e89096-23c6-4265-984b-f419696c58da",
                      "activeDeploymentId": "62e89096-23c6-4265-984b-f419696c58da",
                      "reconciledDeploymentId": "62e89096-23c6-4265-984b-f419696c58da",
                      "organizationId": "7c489df3-7d1d-482f-b1ed-51300f630645",
                      "createdAt": "2025-04-09T15:59:50.465Z",
                      "updatedAt": "2025-04-11T16:54:54.246Z",
                      "deletedAt": null
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agentName}": {
      "delete": {
        "summary": "Delete an agent",
        "description": "Permanently removes an agent and its associated Kubernetes resources.",
        "operationId": "deleteService",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "description": "Name of the agent to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK"],
                      "description": "Status of the deletion operation"
                    }
                  }
                },
                "example": {
                  "status": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Not found",
                  "code": "NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error",
                  "code": "INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Update an agent deployment",
        "operationId": "updateService",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "description": "Name of the agent to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServiceRequest"
              },
              "example": {
                "image": "your-dockername/voice-starter:0.1",
                "nodeType": "arm",
                "imagePullSecretSet": "dockerhub-credentials",
                "secretSet": "voice-starter-secrets",
                "autoScaling": {
                  "minAgents": 1,
                  "maxAgents": 10
                },
                "krispViva": {
                  "audioFilter": "tel"
                },
                "agentProfile": "agent-1x",
                "maxSessionDuration": 3600
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent deployment updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceDetailsResponse"
                },
                "example": {
                  "name": "voice-starter",
                  "region": "us-west",
                  "ready": true,
                  "available": true,
                  "createdAt": "2025-04-19T01:20:27.564Z",
                  "updatedAt": "2025-04-19T01:25:47.229Z",
                  "desiredDeploymentId": "19db578d-808c-420a-a047-87edde4410c1",
                  "activeDeploymentId": "19db578d-808c-420a-a047-87edde4410c1",
                  "reconciledDeploymentId": "19db578d-808c-420a-a047-87edde4410c1",
                  "activeDeploymentReady": true,
                  "autoScaling": {
                    "maxReplicas": 10,
                    "minReplicas": 1
                  },
                  "activeSessionCount": 0,
                  "deployment": {
                    "id": "19db578d-808c-420a-a047-87edde4410c1",
                    "manifest": {
                      "apiVersion": "pipecatcloud.daily.co/v1",
                      "kind": "PCService",
                      "metadata": {
                        "name": "voice-starter",
                        "namespace": "tiny-ferret-maroon-123"
                      },
                      "spec": {
                        "dailyNodeType": "arm",
                        "image": "your-dockername/voice-starter:0.1",
                        "autoScaling": {
                          "minReplicas": 1,
                          "maxReplicas": 10
                        },
                        "imagePullSecretName": "dockerhub-credentials",
                        "envFromSecretNames": ["voice-starter-secrets"],
                        "resources": {
                          "cpu": "500m",
                          "memory": "1Gi"
                        },
                        "krispModels": {
                          "enabled": false
                        },
                        "krispViva": {
                          "audioFilters": true
                        },
                        "maxSessionDurationSeconds": 3600
                      }
                    },
                    "serviceId": "b59a68ee-61c8-4d99-9ceb-e99a3953bdac",
                    "createdAt": "2025-04-19T01:25:47.225Z",
                    "updatedAt": "2025-04-19T01:25:47.225Z"
                  },
                  "agentProfile": "agent-1x",
                  "krispViva": {
                    "audioFilter": "tel"
                  },
                  "currentRevision": {
                    "deploymentID": "19db578d-808c-420a-a047-87edde4410c1",
                    "phase": "Active",
                    "readyReplicas": 1,
                    "phaseStartedAt": "2025-04-19T01:26:00.000Z",
                    "health": {
                      "ready": true,
                      "state": "running",
                      "restartCount": 0,
                      "replicasStarted": 1
                    }
                  },
                  "previousRevision": null
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidParameters": {
                    "summary": "Invalid parameters",
                    "value": {
                      "error": "Invalid parameters",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "secretRegionMismatch": {
                    "summary": "Secret set region mismatch",
                    "value": {
                      "error": "Secret set 'my-secrets' is in region 'us-east' but service is in region 'us-west'. Secrets must be in the same region as the service.",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "imagePullSecretRegionMismatch": {
                    "summary": "Image pull secret region mismatch",
                    "value": {
                      "error": "Image pull secret set 'dockerhub-creds' is in region 'us-east' but service is in region 'us-west'. Image pull secrets must be in the same region as the service.",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "imageAndBuildIdConflict": {
                    "summary": "Both image and buildId provided",
                    "value": {
                      "error": "Cannot specify both image and buildId. Use one or the other.",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "buildNotFound": {
                    "summary": "Build not found",
                    "value": {
                      "error": "Build not found",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "buildRegionMismatch": {
                    "summary": "Build region mismatch",
                    "value": {
                      "error": "Build is in region 'eu-central' but service is in region 'us-west'. Builds must be in the same region as the service.",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "buildNotReady": {
                    "summary": "Build not successful",
                    "value": {
                      "error": "Build is not ready (status: building). Only successful builds can be deployed.",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent or referenced secret not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Service not found",
                  "code": "NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error",
                  "code": "INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get agent details",
        "operationId": "getService",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "description": "Name of the agent to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceDetailsResponse"
                },
                "example": {
                  "name": "voice-starter",
                  "region": "us-west",
                  "ready": true,
                  "available": true,
                  "createdAt": "2025-04-19T01:20:27.564Z",
                  "updatedAt": "2025-04-19T01:25:47.229Z",
                  "desiredDeploymentId": "19db578d-808c-420a-a047-87edde4410c1",
                  "activeDeploymentId": "19db578d-808c-420a-a047-87edde4410c1",
                  "reconciledDeploymentId": "19db578d-808c-420a-a047-87edde4410c1",
                  "activeDeploymentReady": true,
                  "autoScaling": {
                    "maxReplicas": 10,
                    "minReplicas": 1
                  },
                  "activeSessionCount": 0,
                  "agentProfile": "agent-1x",
                  "deployment": {
                    "id": "19db578d-808c-420a-a047-87edde4410c1",
                    "manifest": {
                      "apiVersion": "pipecatcloud.daily.co/v1",
                      "kind": "PCService",
                      "metadata": {
                        "name": "voice-starter",
                        "namespace": "tiny-ferret-maroon-123"
                      },
                      "spec": {
                        "dailyNodeType": "arm",
                        "image": "your-dockername/voice-starter:0.1",
                        "autoScaling": {
                          "minReplicas": 1,
                          "maxReplicas": 10
                        },
                        "imagePullSecretName": "dockerhub-credentials",
                        "envFromSecretNames": ["voice-starter-secrets"],
                        "resources": {
                          "cpu": "500m",
                          "memory": "1Gi"
                        },
                        "krispModels": {
                          "enabled": false
                        },
                        "krispViva": {
                          "audioFilters": true
                        },
                        "maxSessionDurationSeconds": 3600
                      }
                    },
                    "serviceId": "b59a68ee-61c8-4d99-9ceb-e99a3953bdac",
                    "createdAt": "2025-04-19T01:25:47.225Z",
                    "updatedAt": "2025-04-19T01:25:47.225Z"
                  },
                  "krispViva": {
                    "audioFilter": "tel"
                  },
                  "currentRevision": {
                    "deploymentID": "19db578d-808c-420a-a047-87edde4410c1",
                    "phase": "Active",
                    "readyReplicas": 1,
                    "phaseStartedAt": "2025-04-19T01:26:00.000Z",
                    "health": {
                      "ready": true,
                      "state": "running",
                      "restartCount": 0,
                      "replicasStarted": 1
                    }
                  },
                  "previousRevision": null
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Not found",
                  "code": "NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error",
                  "code": "INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agentName}/logs": {
      "get": {
        "summary": "Get agent logs",
        "description": "Retrieves logs for the specified agent with optional filtering and pagination.",
        "operationId": "getLogs",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "description": "Name of the agent to retrieve logs for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of log entries to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of log entries to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "deploymentId",
            "in": "query",
            "required": false,
            "description": "Filter logs to a specific deployment ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": false,
            "description": "Filter logs to a specific session ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Free-text search query to filter logs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order for logs",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "Filter logs to those after this Unix timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "Filter logs to those before this Unix timestamp",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent logs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "integer",
                          "description": "Total number of log entries matching the query"
                        },
                        "relation": {
                          "type": "string",
                          "enum": ["eq", "gte"],
                          "description": "Relation type for the total count (eq = exact, gte = greater than or equal)"
                        }
                      }
                    },
                    "logs": {
                      "type": "array",
                      "description": "List of log entries",
                      "items": {
                        "type": "object",
                        "properties": {
                          "log": {
                            "type": "string",
                            "description": "Log message content"
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the log was generated"
                          },
                          "deploymentId": {
                            "type": "string",
                            "description": "ID of the deployment that generated the log",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "total": {
                    "value": 79,
                    "relation": "eq"
                  },
                  "logs": [
                    {
                      "log": "INFO:     Finished server process [1]",
                      "timestamp": "2025-04-18T20:34:17.153744602Z"
                    },
                    {
                      "log": "INFO:     Application shutdown complete.",
                      "timestamp": "2025-04-18T20:34:17.153706059Z"
                    },
                    {
                      "log": "INFO:     Waiting for application shutdown.",
                      "timestamp": "2025-04-18T20:34:17.153611029Z"
                    },
                    {
                      "log": "INFO:     Uvicorn running on http://0.0.0.0:8080 (Press CTRL+C to quit)",
                      "timestamp": "2025-04-18T20:32:42.246099974Z"
                    },
                    {
                      "log": "INFO:     Application startup complete.",
                      "timestamp": "2025-04-18T20:32:42.245760327Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Invalid timestamp format",
                  "code": "GENERIC_BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Not found",
                  "code": "NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error",
                  "code": "INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agentName}/sessions/{sessionId}": {
      "get": {
        "summary": "Get session details",
        "description": "Retrieves detailed information about a specific session, including resource metrics and meeting IDs.",
        "operationId": "getSession",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "description": "Name of the agent",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "UUID of the session to retrieve",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                },
                "example": {
                  "sessionId": "800d444a-e67e-4686-afb3-b0de509cccb3",
                  "serviceId": "b900ae4a-f710-4ef1-95d8-c5f5b2789da9",
                  "organizationId": "cc71b52d-4271-46c9-87be-cac600fd821a",
                  "deploymentId": "81f4da55-106d-401f-b069-a1f1992f871a",
                  "endedAt": "2025-10-22T08:39:26.000Z",
                  "botStartSeconds": 2,
                  "coldStart": true,
                  "completionStatus": "HTTP_COMPLETED",
                  "createdAt": "2025-10-22T08:39:20.000Z",
                  "updatedAt": "2025-10-22T08:39:26.000Z",
                  "resourceMetrics": {
                    "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "sessionId": "800d444a-e67e-4686-afb3-b0de509cccb3",
                    "sampleCount": 12,
                    "cpuMillicoresP50": 150,
                    "cpuMillicoresP90": 280,
                    "cpuMillicoresP95": 320,
                    "cpuMillicoresP99": 450,
                    "memoryBytesP50": 134217728,
                    "memoryBytesP90": 201326592,
                    "memoryBytesP95": 234881024,
                    "memoryBytesP99": 268435456,
                    "timeseries": [
                      {
                        "t": 1729583960,
                        "c": 150,
                        "m": 134217728
                      },
                      {
                        "t": 1729583965,
                        "c": 280,
                        "m": 201326592
                      }
                    ],
                    "eventTs": "2025-10-22T08:39:25.000Z",
                    "createdAt": "2025-10-22T08:39:25.000Z"
                  },
                  "meetingIds": [
                    {
                      "participantId": "d4e5f6a7-b8c9-0123-4567-890abcdef012",
                      "meetingId": "f1e2d3c4-b5a6-9780-1234-567890abcdef"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Agent or session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "API endpoint not found / agent deployment not found / Organization not found",
                  "code": "404"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error. Please check logs for more information or contact support.",
                  "code": "500"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "summary": "Stop an agent session",
        "operationId": "stopSession",
        "description": "Stops an active session of a deployed agent and cleans up its resources.",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "description": "Name of the agent",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "UUID of the session to stop",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session stopped successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (e.g., invalid session ID format)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Service or session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/agents/{agentName}/sessions": {
      "get": {
        "summary": "Get agent sessions",
        "description": "Retrieves sessions for the specified agent with optional filtering and pagination.",
        "operationId": "getSessions",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "description": "Name of the agent to retrieve sessions for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of sessions to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of sessions to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "deploymentId",
            "in": "query",
            "required": false,
            "description": "Filter sessions to a specific deployment ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "Filter sessions to those after this Unix timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "Filter sessions to those before this Unix timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter sessions to those with this status",
            "schema": {
              "type": "string",
              "enum": ["active", "ended", "all"],
              "default": "all"
            }
          },
          {
            "name": "startType",
            "in": "query",
            "required": false,
            "description": "Filter sessions to those with this start type",
            "schema": {
              "type": "string",
              "enum": ["cold", "warm", "all"],
              "default": "all"
            }
          },
          {
            "name": "startTimeMin",
            "in": "query",
            "required": false,
            "description": "Filter sessions to those whose start times are greater than this value in seconds",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "startTimeMax",
            "in": "query",
            "required": false,
            "description": "Filter sessions to those whose start times are less than this value in seconds",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent sessions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer",
                      "description": "Total number of sessions matching the parameters"
                    },
                    "sessions": {
                      "type": "array",
                      "description": "List of sessions",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sessionId": {
                            "type": "string",
                            "description": "ID of the session"
                          },
                          "serviceId": {
                            "type": "string",
                            "description": "ID of the service for this session"
                          },
                          "organizationId": {
                            "type": "string",
                            "description": "ID of the organization that this session is associated with"
                          },
                          "deploymentId": {
                            "type": "string",
                            "description": "ID of the deployment that this session is associated with"
                          },
                          "endedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the log was generated"
                          },
                          "botStartSeconds": {
                            "type": "integer",
                            "description": "Number of seconds between bot start request and bot start",
                            "nullable": true
                          },
                          "coldStart": {
                            "type": "boolean",
                            "description": "Whether the bot start was a [cold start](/pipecat-cloud/fundamentals/scaling#cold-starts)",
                            "nullable": true
                          },
                          "completionStatus": {
                            "type": "string",
                            "description": "The completion status of the session. This can be an http return code or a string like `HTTP_COMPLETED`, `HTTP_ERROR`, `WS_CONNECTION_CLOSED`, among others",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the session was created"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the session was last updated"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "total_count": 330,
                  "sessions": [
                    {
                      "sessionId": "800d444a-e67e-4686-afb3-b0de509cccb3",
                      "serviceId": "b900ae4a-f710-4ef1-95d8-c5f5b2789da9",
                      "organizationId": "cc71b52d-4271-46c9-87be-cac600fd821a",
                      "deploymentId": "81f4da55-106d-401f-b069-a1f1992f871a",
                      "endedAt": "2025-10-22T08:39:26.000Z",
                      "botStartSeconds": 0,
                      "coldStart": false,
                      "completionStatus": "HTTP_COMPLETED",
                      "createdAt": "2025-10-22T08:39:26.000Z",
                      "updatedAt": "2025-10-22T08:39:26.000Z"
                    },
                    {
                      "sessionId": "803349cc-2ae0-437a-9a72-408817299e43",
                      "serviceId": "b900ae4a-f710-4ef1-95d8-c5f5b2789da9",
                      "organizationId": "cc71b52d-4271-46c9-87be-cac600fd821a",
                      "deploymentId": "81f4da55-106d-401f-b069-a1f1992f871a",
                      "endedAt": "2025-10-22T08:38:09.000Z",
                      "botStartSeconds": 2,
                      "coldStart": true,
                      "completionStatus": "HTTP_COMPLETED",
                      "createdAt": "2025-10-22T08:38:09.000Z",
                      "updatedAt": "2025-10-22T08:38:09.000Z"
                    },
                    {
                      "sessionId": "44003e83-b679-46ef-88ec-18e9ea9dd81d",
                      "serviceId": "b900ae4a-f710-4ef1-95d8-c5f5b2789da9",
                      "organizationId": "cc71b52d-4271-46c9-87be-cac600fd821a",
                      "deploymentId": "f76bae42-5ce8-4ae3-8a75-0349bfd7ec63",
                      "endedAt": "2025-10-21T08:17:47.000Z",
                      "botStartSeconds": 0,
                      "coldStart": false,
                      "completionStatus": "HTTP_ERROR",
                      "createdAt": "2025-10-21T08:17:22.000Z",
                      "updatedAt": "2025-10-21T08:17:38.000Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Invalid parameters",
                  "err": {
                    "issues": [
                      {
                        "received": "bad_value",
                        "code": "invalid_enum_value",
                        "options": ["active", "ended", "all"],
                        "path": ["status"],
                        "message": "Invalid enum value. Expected 'active' | 'ended' | 'all', received 'bad_value'"
                      }
                    ],
                    "name": "ZodError"
                  },
                  "code": "400"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "API endpoint not found / agent deployment not found / Organization not found",
                  "code": "404"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error. Please check logs for more information or contact support.",
                  "code": "500"
                }
              }
            }
          }
        }
      }
    },
    "/builds": {
      "post": {
        "summary": "Create a build",
        "description": "Create a new build from an uploaded context. If a successful build already exists with the same context hash, region, and Dockerfile path, the cached build is returned instead of triggering a new build.",
        "operationId": "createBuild",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBuildRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cached build found - no new build triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBuildResponse"
                }
              }
            }
          },
          "201": {
            "description": "New build created and triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBuildResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (e.g., upload not found, cloud build not enabled)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List builds",
        "description": "List all builds for your organization with optional filters.",
        "operationId": "listBuilds",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by build status.",
            "schema": {
              "type": "string",
              "enum": ["pending", "building", "success", "failed", "timeout"]
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Filter by region.",
            "schema": {
              "type": "string"
            },
            "example": "us-west"
          },
          {
            "name": "contextHash",
            "in": "query",
            "description": "Filter by context hash.",
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4e5f6a7b8"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of builds to return.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of builds to skip for pagination.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of builds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBuildsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/builds/{buildId}": {
      "get": {
        "summary": "Get build status",
        "description": "Get the current status of a build. For builds in progress, this endpoint automatically reconciles the status with the underlying build system to provide the latest information.",
        "operationId": "getBuild",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the build.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "responses": {
          "200": {
            "description": "Build details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBuildResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid build ID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Build not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/builds/{buildId}/logs": {
      "get": {
        "summary": "Get build logs",
        "description": "Retrieve the logs for a specific build. Returns log lines from the build process, useful for monitoring progress or debugging failures.",
        "operationId": "getBuildLogs",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the build.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of log events to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 500
            },
            "example": 500
          }
        ],
        "responses": {
          "200": {
            "description": "Build logs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBuildLogsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid build ID format or invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Build not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/builds/upload-url": {
      "post": {
        "summary": "Get upload URL for build context",
        "description": "Generate a pre-signed URL for uploading your Docker build context (tar.gz archive) to Pipecat Cloud storage. The returned URL expires after 15 minutes.",
        "operationId": "getBuildUploadUrl",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload URL generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (e.g., cloud build not enabled for region)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/properties": {
      "get": {
        "summary": "Get organization properties",
        "description": "Retrieve the current values of all configurable properties for your organization. Returns only public (user-configurable) properties without schema metadata. For schema information including available values and constraints, use the `/properties/schema` endpoint.",
        "operationId": "getProperties",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Properties retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "properties": {
                      "$ref": "#/components/schemas/OrganizationProperties"
                    }
                  }
                },
                "example": {
                  "properties": {
                    "defaultRegion": "us-west"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Unauthorized",
                  "code": "UNAUTHORIZED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error",
                  "code": "INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update organization properties",
        "description": "Update one or more configurable properties for your organization. Only public (user-configurable) properties can be modified via this endpoint. Properties are validated against their schema and constraints before being applied. Returns the complete property schema including metadata for all properties.",
        "operationId": "updateProperties",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "defaultRegion": {
                    "type": "string",
                    "description": "Default region for new service deployments. Must be one of the [available regions](/pipecat-cloud/rest-reference/endpoint/regions-list) for your organization.",
                    "example": "us-west"
                  }
                },
                "additionalProperties": false
              },
              "examples": {
                "updateDefaultRegion": {
                  "summary": "Update default region",
                  "value": {
                    "defaultRegion": "eu-central"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Properties successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "properties": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/PropertySchema"
                      }
                    }
                  }
                },
                "example": {
                  "properties": {
                    "defaultRegion": {
                      "description": "Default region for new service deployments",
                      "type": "string",
                      "readOnly": false,
                      "currentValue": "eu-central",
                      "default": "us-west",
                      "availableValues": [
                        "us-west",
                        "us-east",
                        "eu-central",
                        "ap-south"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid property name, value, or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidProperty": {
                    "summary": "Invalid property name",
                    "value": {
                      "error": "Property 'invalidProp' is not a valid property",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "invalidRegion": {
                    "summary": "Invalid region value",
                    "value": {
                      "error": "Region 'invalid-region' is not available. Available regions: us-west, us-east, eu-central",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "emptyUpdate": {
                    "summary": "No properties provided",
                    "value": {
                      "error": "No properties provided",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Unauthorized",
                  "code": "UNAUTHORIZED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error",
                  "code": "INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/properties/schema": {
      "get": {
        "summary": "Get organization properties schema",
        "description": "Retrieve metadata about all configurable properties for your organization, including type information, constraints, current values, default values, and dynamically available values (e.g., available regions).",
        "operationId": "getPropertiesSchema",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Properties schema retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "properties": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/PropertySchema"
                      }
                    }
                  }
                },
                "example": {
                  "properties": {
                    "defaultRegion": {
                      "type": "string",
                      "description": "Default region for new service deployments",
                      "default": "us-west",
                      "currentValue": "us-west",
                      "availableValues": [
                        "us-west",
                        "us-east",
                        "eu-central",
                        "ap-south"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Unauthorized",
                  "code": "UNAUTHORIZED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error",
                  "code": "INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/regions": {
      "get": {
        "summary": "List available regions",
        "description": "Retrieve a list of all regions available for deploying agents and storing secrets. This endpoint can be accessed using either Clerk authentication or a Private API key.",
        "operationId": "listRegions",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of available regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "regions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Region"
                      }
                    }
                  }
                },
                "example": {
                  "regions": [
                    {
                      "code": "us-west",
                      "display_name": "US West (Oregon)"
                    },
                    {
                      "code": "us-east",
                      "display_name": "US East (Virginia)"
                    },
                    {
                      "code": "eu-central",
                      "display_name": "Europe (Frankfurt)"
                    },
                    {
                      "code": "ap-south",
                      "display_name": "Asia Pacific (Mumbai)"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Unauthorized",
                  "code": "UNAUTHORIZED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error",
                  "code": "INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/secrets/{setName}": {
      "put": {
        "summary": "Create or update a secret set",
        "description": "Create a new secret set or update an existing one. Supports both regular secrets (multiple key-value pairs) and image pull secrets.\n\nProvisioning is **asynchronous**: the response is `202 Accepted` once the values have been stored, and the secret set is then provisioned into the target region in the background. Use `GET /secrets/{setName}` to observe the readiness status (`pending` \u2192 `ready`). Deploys that bind a secret set whose status is not `ready` are rejected with `409 Conflict`.",
        "operationId": "upsertSecretSet",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "setName",
            "in": "path",
            "required": true,
            "description": "Name of the secret set to create or update",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$",
              "minLength": 3,
              "maxLength": 63
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/RegularSecretsRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ImagePullSecretRequest"
                  }
                ]
              },
              "examples": {
                "regularSecrets": {
                  "summary": "Regular secrets",
                  "description": "Create or update a set with multiple key-value pairs",
                  "value": {
                    "secrets": [
                      {
                        "secretKey": "API_KEY",
                        "secretValue": "your-api-key"
                      },
                      {
                        "secretKey": "DATABASE_URL",
                        "secretValue": "postgresql://user:pass@host:5432/db"
                      }
                    ],
                    "region": "us-west"
                  }
                },
                "imagePullSecret": {
                  "summary": "Image pull secret",
                  "description": "Create or update an image pull secret",
                  "value": {
                    "isImagePullSecret": true,
                    "host": "https://index.docker.io/v1/",
                    "secretValue": "your-docker-auth-token",
                    "region": "us-west"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Secret set accepted. Values have been stored and the set is being provisioned into the target region in the background. Poll `GET /secrets/{setName}` until `status` is `ready` before binding it to a deploy.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK"]
                    },
                    "region": {
                      "type": "string",
                      "description": "The region where the secret set was created or exists"
                    }
                  },
                  "required": ["status", "region"]
                },
                "example": {
                  "status": "OK",
                  "region": "us-west"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters or operation not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidImagePullSecretUpdate": {
                    "summary": "Invalid image pull secret update",
                    "value": {
                      "error": "Must provide isImagePullSecret, host, and secretValue to update an image pull secret",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "cannotChangeSecretType": {
                    "summary": "Cannot change secret type",
                    "value": {
                      "error": "Cannot update existing regular secrets to image pull secrets",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "regionMismatch": {
                    "summary": "Region mismatch",
                    "value": {
                      "error": "Secret already exists in region 'us-west'. Cannot change region to 'us-east'.",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "invalidRegion": {
                    "summary": "Invalid region access",
                    "value": {
                      "error": "Invalid region or organization does not have access",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  },
                  "validationError": {
                    "summary": "Validation error",
                    "value": {
                      "error": "Invalid request format",
                      "code": "GENERIC_BAD_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Unauthorized",
                  "code": "UNAUTHORIZED"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Another request is modifying this secret set concurrently. Retry the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Secret set 'my-secrets' was modified concurrently. Please retry.",
                  "code": "CONFLICT"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an entire secret set",
        "description": "Permanently removes a secret set and all its associated secrets.",
        "operationId": "deleteSecretSet",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "setName",
            "in": "path",
            "required": true,
            "description": "Name of the secret set to delete",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$",
              "minLength": 3,
              "maxLength": 63
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret set successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK"]
                    }
                  }
                },
                "example": {
                  "status": "OK"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Unauthorized",
                  "code": "UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Secret set not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Set not found",
                  "code": "NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get a specific secret set",
        "description": "Retrieve the keys (not values) of a specific secret set. Image pull secrets cannot be retrieved.",
        "operationId": "getSecretSet",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "setName",
            "in": "path",
            "required": true,
            "description": "Name of the secret set to retrieve",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$",
              "minLength": 3,
              "maxLength": 63
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret set details, including readiness status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "region": {
                      "type": "string",
                      "description": "The region where the secret set is stored"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["pending", "ready", "failed"],
                      "description": "Readiness state. `pending` while provisioning is in flight, `ready` once the set can be bound to a deploy, `failed` if provisioning could not complete."
                    },
                    "errorMessage": {
                      "type": "string",
                      "description": "Customer-facing message returned only when `status` is `failed`. Generic by design \u2014 internal diagnostic details are kept in platform logs."
                    },
                    "secrets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SecretKey"
                      }
                    }
                  }
                },
                "example": {
                  "region": "us-west",
                  "status": "ready",
                  "secrets": [
                    {
                      "fieldName": "API_KEY"
                    },
                    {
                      "fieldName": "DATABASE_URL"
                    },
                    {
                      "fieldName": "JWT_SECRET"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Cannot retrieve image pull secrets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Cannot retrieve image pull secrets by name",
                  "code": "GENERIC_BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Unauthorized",
                  "code": "UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Secret set not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Set not found",
                  "code": "NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/secrets/{setName}/{secretKey}": {
      "delete": {
        "summary": "Delete a specific secret from a set",
        "description": "Remove a specific secret key from a secret set. Cannot be used with image pull secrets.",
        "operationId": "deleteSecretFromSet",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "setName",
            "in": "path",
            "required": true,
            "description": "Name of the secret set",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$",
              "minLength": 3,
              "maxLength": 63
            }
          },
          {
            "name": "secretKey",
            "in": "path",
            "required": true,
            "description": "Name of the secret key to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK"]
                    }
                  }
                },
                "example": {
                  "status": "OK"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Unauthorized",
                  "code": "UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Secret not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Secret not found",
                  "code": "NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/secrets": {
      "get": {
        "summary": "List all secret sets",
        "description": "Retrieve a list of all secret sets for the organization.",
        "operationId": "listSecretSets",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of secret sets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SecretSetSummary"
                      }
                    }
                  }
                },
                "example": {
                  "sets": [
                    {
                      "name": "my-app-secrets",
                      "type": "secret",
                      "region": "us-west",
                      "status": "ready"
                    },
                    {
                      "name": "dockerhub-credentials",
                      "type": "imagePullSecret",
                      "region": "us-west",
                      "status": "pending"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Unauthorized",
                  "code": "UNAUTHORIZED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{serviceName}/sessions/{sessionId}/{path}": {
      "get": {
        "summary": "Send GET request to session",
        "operationId": "sessionProxyGet",
        "description": "Proxies a GET request to an endpoint defined in your running bot. The response is returned directly from the bot.",
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceName"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "$ref": "#/components/parameters/Path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response from the bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxiedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ServiceNotAvailable"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Send POST request to session",
        "operationId": "sessionProxyPost",
        "description": "Proxies a POST request to an endpoint defined in your running bot. The request body and response are passed through directly.",
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceName"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "$ref": "#/components/parameters/Path"
          }
        ],
        "requestBody": {
          "description": "Request body to pass to the bot endpoint",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Arbitrary JSON data to send to your bot endpoint",
                "example": {
                  "user_name": "Alice",
                  "preferences": {
                    "language": "Spanish"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from the bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxiedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ServiceNotAvailable"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "summary": "Send PUT request to session",
        "operationId": "sessionProxyPut",
        "description": "Proxies a PUT request to an endpoint defined in your running bot.",
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceName"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "$ref": "#/components/parameters/Path"
          }
        ],
        "requestBody": {
          "description": "Request body to pass to the bot endpoint",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Arbitrary JSON data to send to your bot endpoint"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from the bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxiedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ServiceNotAvailable"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "summary": "Send PATCH request to session",
        "operationId": "sessionProxyPatch",
        "description": "Proxies a PATCH request to an endpoint defined in your running bot.",
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceName"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "$ref": "#/components/parameters/Path"
          }
        ],
        "requestBody": {
          "description": "Request body to pass to the bot endpoint",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Arbitrary JSON data to send to your bot endpoint"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from the bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxiedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ServiceNotAvailable"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "Send DELETE request to session",
        "operationId": "sessionProxyDelete",
        "description": "Proxies a DELETE request to an endpoint defined in your running bot.",
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceName"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "$ref": "#/components/parameters/Path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response from the bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxiedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ServiceNotAvailable"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "options": {
        "summary": "Send OPTIONS request to session",
        "operationId": "sessionProxyOptions",
        "description": "Proxies an OPTIONS request to an endpoint defined in your running bot.",
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceName"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "$ref": "#/components/parameters/Path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response from the bot"
          },
          "400": {
            "$ref": "#/components/responses/ServiceNotAvailable"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "head": {
        "summary": "Send HEAD request to session",
        "operationId": "sessionProxyHead",
        "description": "Proxies a HEAD request to an endpoint defined in your running bot.",
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceName"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "$ref": "#/components/parameters/Path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response from the bot"
          },
          "400": {
            "$ref": "#/components/responses/ServiceNotAvailable"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "servers": [
[...]
