{
  "openapi": "3.0.0",
  "info": {
    "title": "Pipecat Cloud",
    "version": "1.0.0",
    "description": "Private API for Pipecat Cloud agent management"
  },
  "servers": [
    {
      "url": "https://api.pipecat.daily.co/v1",
      "description": "API server"
    }
  ],
  "paths": {
    "/agents/{agentName}/sessions/{sessionId}": {
      "get": {
        "summary": "Get session details",
        "description": "Retrieves detailed information about a specific session, including resource metrics and meeting IDs.",
        "operationId": "getSession",
        "security": [
          {
            "PrivateKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "description": "Name of the agent",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "UUID of the session to retrieve",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                },
                "example": {
                  "sessionId": "800d444a-e67e-4686-afb3-b0de509cccb3",
                  "serviceId": "b900ae4a-f710-4ef1-95d8-c5f5b2789da9",
                  "organizationId": "cc71b52d-4271-46c9-87be-cac600fd821a",
                  "deploymentId": "81f4da55-106d-401f-b069-a1f1992f871a",
                  "endedAt": "2025-10-22T08:39:26.000Z",
                  "botStartSeconds": 2,
                  "coldStart": true,
                  "completionStatus": "HTTP_COMPLETED",
                  "createdAt": "2025-10-22T08:39:20.000Z",
                  "updatedAt": "2025-10-22T08:39:26.000Z",
                  "resourceMetrics": {
                    "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "sessionId": "800d444a-e67e-4686-afb3-b0de509cccb3",
                    "sampleCount": 12,
                    "cpuMillicoresP50": 150,
                    "cpuMillicoresP90": 280,
                    "cpuMillicoresP95": 320,
                    "cpuMillicoresP99": 450,
                    "memoryBytesP50": 134217728,
                    "memoryBytesP90": 201326592,
                    "memoryBytesP95": 234881024,
                    "memoryBytesP99": 268435456,
                    "timeseries": [
                      { "t": 1729583960, "c": 150, "m": 134217728 },
                      { "t": 1729583965, "c": 280, "m": 201326592 }
                    ],
                    "eventTs": "2025-10-22T08:39:25.000Z",
                    "createdAt": "2025-10-22T08:39:25.000Z"
                  },
                  "meetingIds": [
                    {
                      "participantId": "d4e5f6a7-b8c9-0123-4567-890abcdef012",
                      "meetingId": "f1e2d3c4-b5a6-9780-1234-567890abcdef"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Agent or session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "API endpoint not found / agent deployment not found / Organization not found",
                  "code": "404"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error. Please check logs for more information or contact support.",
                  "code": "500"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "PrivateKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication requires a Pipecat Cloud Private API token.\n\nGenerate a Private API key from your Dashboard (Settings > API Keys > Private > Create key) and include it as a Bearer token in the Authorization header."
      }
    },
    "schemas": {
      "SessionResponse": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string",
            "description": "ID of the session"
          },
          "serviceId": {
            "type": "string",
            "description": "ID of the service for this session"
          },
          "organizationId": {
            "type": "string",
            "description": "ID of the organization that this session is associated with"
          },
          "deploymentId": {
            "type": "string",
            "description": "ID of the deployment that this session is associated with"
          },
          "endedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the session ended",
            "nullable": true
          },
          "botStartSeconds": {
            "type": "integer",
            "description": "Number of seconds between bot start request and bot start",
            "nullable": true
          },
          "coldStart": {
            "type": "boolean",
            "description": "Whether the bot start was a [cold start](/pipecat-cloud/fundamentals/scaling#cold-starts)",
            "nullable": true
          },
          "completionStatus": {
            "type": "string",
            "description": "The completion status of the session. This can be an http return code or a string like `HTTP_COMPLETED`, `HTTP_ERROR`, `WS_CONNECTION_CLOSED`, among others",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the session was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the session was last updated"
          },
          "resourceMetrics": {
            "type": "object",
            "nullable": true,
            "description": "Resource usage metrics for the session, if available",
            "properties": {
              "id": {
                "type": "string",
                "description": "ID of the metrics record"
              },
              "sessionId": {
                "type": "string",
                "description": "ID of the session these metrics belong to"
              },
              "sampleCount": {
                "type": "integer",
                "description": "Number of metric samples collected"
              },
              "cpuMillicoresP50": {
                "type": "integer",
                "description": "CPU usage at the 50th percentile (in millicores)"
              },
              "cpuMillicoresP90": {
                "type": "integer",
                "description": "CPU usage at the 90th percentile (in millicores)"
              },
              "cpuMillicoresP95": {
                "type": "integer",
                "description": "CPU usage at the 95th percentile (in millicores)"
              },
              "cpuMillicoresP99": {
                "type": "integer",
                "description": "CPU usage at the 99th percentile (in millicores)"
              },
              "memoryBytesP50": {
                "type": "integer",
                "description": "Memory usage at the 50th percentile (in bytes)"
              },
              "memoryBytesP90": {
                "type": "integer",
                "description": "Memory usage at the 90th percentile (in bytes)"
              },
              "memoryBytesP95": {
                "type": "integer",
                "description": "Memory usage at the 95th percentile (in bytes)"
              },
              "memoryBytesP99": {
                "type": "integer",
                "description": "Memory usage at the 99th percentile (in bytes)"
              },
              "timeseries": {
                "type": "array",
                "description": "Time-series data of resource usage",
                "items": {
                  "type": "object",
                  "properties": {
                    "t": {
                      "type": "integer",
                      "description": "Unix timestamp (seconds)"
                    },
                    "c": {
                      "type": "integer",
                      "description": "CPU usage (millicores)"
                    },
                    "m": {
                      "type": "integer",
                      "description": "Memory usage (bytes)"
                    }
                  }
                }
              },
              "eventTs": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of the most recent metrics event"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when the metrics record was created"
              }
            }
          },
          "meetingIds": {
            "type": "array",
            "description": "Daily meeting IDs associated with this session",
            "items": {
              "type": "object",
              "properties": {
                "participantId": {
                  "type": "string",
                  "description": "Daily participant ID"
                },
                "meetingId": {
                  "type": "string",
                  "description": "Daily meeting ID"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      }
    }
  },
  "security": [
    {
      "PrivateKeyAuth": []
    }
  ]
}
