{
  "openapi": "3.0.0",
  "info": {
    "title": "Pipecat Cloud - Session API",
    "version": "1.0.0",
    "description": "Send HTTP requests directly to running Pipecat Cloud agent sessions"
  },
  "servers": [
    {
      "url": "https://api.pipecat.daily.co/v1/public",
      "description": "Public API server"
    }
  ],
  "paths": {
    "/{serviceName}/sessions/{sessionId}/{path}": {
      "get": {
        "summary": "Send GET request to session",
        "operationId": "sessionProxyGet",
        "description": "Proxies a GET request to an endpoint defined in your running bot. The response is returned directly from the bot.",
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceName"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "$ref": "#/components/parameters/Path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response from the bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxiedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ServiceNotAvailable"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Send POST request to session",
        "operationId": "sessionProxyPost",
        "description": "Proxies a POST request to an endpoint defined in your running bot. The request body and response are passed through directly.",
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceName"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "$ref": "#/components/parameters/Path"
          }
        ],
        "requestBody": {
          "description": "Request body to pass to the bot endpoint",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Arbitrary JSON data to send to your bot endpoint",
                "example": {
                  "user_name": "Alice",
                  "preferences": {
                    "language": "Spanish"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from the bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxiedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ServiceNotAvailable"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "summary": "Send PUT request to session",
        "operationId": "sessionProxyPut",
        "description": "Proxies a PUT request to an endpoint defined in your running bot.",
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceName"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "$ref": "#/components/parameters/Path"
          }
        ],
        "requestBody": {
          "description": "Request body to pass to the bot endpoint",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Arbitrary JSON data to send to your bot endpoint"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from the bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxiedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ServiceNotAvailable"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "summary": "Send PATCH request to session",
        "operationId": "sessionProxyPatch",
        "description": "Proxies a PATCH request to an endpoint defined in your running bot.",
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceName"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "$ref": "#/components/parameters/Path"
          }
        ],
        "requestBody": {
          "description": "Request body to pass to the bot endpoint",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Arbitrary JSON data to send to your bot endpoint"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from the bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxiedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ServiceNotAvailable"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "Send DELETE request to session",
        "operationId": "sessionProxyDelete",
        "description": "Proxies a DELETE request to an endpoint defined in your running bot.",
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceName"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "$ref": "#/components/parameters/Path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response from the bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxiedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ServiceNotAvailable"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "options": {
        "summary": "Send OPTIONS request to session",
        "operationId": "sessionProxyOptions",
        "description": "Proxies an OPTIONS request to an endpoint defined in your running bot.",
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceName"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "$ref": "#/components/parameters/Path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response from the bot"
          },
          "400": {
            "$ref": "#/components/responses/ServiceNotAvailable"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "head": {
        "summary": "Send HEAD request to session",
        "operationId": "sessionProxyHead",
        "description": "Proxies a HEAD request to an endpoint defined in your running bot.",
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceName"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "$ref": "#/components/parameters/Path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response from the bot"
          },
          "400": {
            "$ref": "#/components/responses/ServiceNotAvailable"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "PublicKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication using a Pipecat Cloud public API key.\n\nGenerate a public API key from your Dashboard (Settings > API Keys > Public > Create key) and include it as a Bearer token in the Authorization header."
      }
    },
    "parameters": {
      "ServiceName": {
        "name": "serviceName",
        "in": "path",
        "required": true,
        "description": "Name of the deployed agent",
        "schema": {
          "type": "string"
        },
        "example": "my-agent"
      },
      "SessionId": {
        "name": "sessionId",
        "in": "path",
        "required": true,
        "description": "Session ID returned from the start endpoint",
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "example": "57af5437-97a2-4646-9873-a5c5935bd705"
      },
      "Path": {
        "name": "path",
        "in": "path",
        "required": true,
        "description": "The endpoint path defined in your bot using the `@app` decorator",
        "schema": {
          "type": "string"
        },
        "example": "status"
      }
    },
    "responses": {
      "ServiceNotAvailable": {
        "description": "Service deployment is not available",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Attempt to start agent when deployment is not in ready state. Is your image pull secret valid?",
              "code": "PCC-1001"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Unauthorized / token expired",
              "code": "401"
            }
          }
        }
      },
      "NotFound": {
        "description": "Service or session not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Service not found",
              "code": "404"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Internal server error. Please check logs for more information or contact support.",
              "code": "500"
            }
          }
        }
      }
    },
    "schemas": {
      "ProxiedResponse": {
        "type": "object",
        "description": "Response from your bot endpoint. The schema depends on what your bot returns.",
        "additionalProperties": true,
        "example": {
          "status": "active",
          "message_count": 5,
          "user_name": "Alice"
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong"
          },
          "code": {
            "type": "string",
            "description": "Error code for programmatic handling"
          }
        },
        "required": ["error", "code"]
      }
    }
  },
  "security": [
    {
      "PublicKeyAuth": []
    }
  ]
}
